:root {
    /* Some colors */
    --primary: #16506E;
    --secondary: #C53DCC;
    --glas: hsla(220, 100%, 80%, .5);

    /* Some dimensions */
    --mainDistance: 2rem;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font: 10px sans-serif;
    background-color: black;
    padding: 0;
    margin: 0;
}

#pageWrapper {
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
}


/* Header-Styling ########################################################## */

#pageHeader {
    color: white;
    background-color: var(--primary);
    padding: var(--mainDistance) ;
}

#headerTitle {
    font-size: clamp(2rem, 5vw, 4rem);
    margin: .25em 0;
}

#headerSubtitle {
    font: bold small-caps 1rem sans-serif;
    margin: 0;
}


/* Main-Navigation-Styling ################################################# */

/* Implement styling here if neccessary ... */


/* Main-Styling ############################################################ */

main {
    font-size: 1.2rem;
    background-color: white;
    padding: 0 var(--mainDistance);
}

.mainContent {
    padding: 0 calc(var(--mainDistance) / 2);
    border: solid thin var(--primary);
    border-radius: calc(var(--mainDistance) / 2);
    margin: var(--mainDistance) 0;
}

.sectionTitle {
    color: var(--primary);
}

h1 {
    font: small-caps clamp(1.25em, 5vw, 3em) sans-serif;
}

.sectionSubtitle {
    font: italic bold 1em sans-serif;
}

h2 {
    font: small-caps clamp(1.25em, 5vw, 2.5em) sans-serif;
}

.demoBox {
    border: solid thin var(--primary);
    border-radius: calc(var(--mainDistance) / 2);
    margin: calc(var(--mainDistance) / 2) 0;
    overflow: hidden;
}

.demoBoxHeader {
    background-color: var(--primary);
    padding: calc(var(--mainDistance) / 2);
}

.artTitle {
    color: white;
    font: small-caps clamp(1.25em, 5vw, 2em) sans-serif;
    margin: .5em 0;
}

.artSubtitle {
    color: white;
}

.sandboxContainer,
.articleContentText {
    padding: calc(var(--mainDistance) / 2);
}

dialog {
    background-color: var(--glas);
    border: none;
    border-radius: var(--mainDistance);
    box-shadow: .125rem .125rem .5rem .125rem var(--secondary);
}

dialog::backdrop {
    backdrop-filter: blur(10px);
}

/* Formular-Styling ######################################################## */
label {
    display: inline-block;
    width: 10rem;
}

.outputField {
    width: 3rem;
}

.elementInfo {
    background-color: beige;
    font-size: 1rem;
    padding: .5rem;
    margin: 1rem 0 2rem 0
}

button {
    display: block;
    width: 100%;
    font: bold 2rem sans-serif;
    margin: 0 auto;
}

code {
    font-weight: bold;
}

/* Footer-Styling ########################################################## */
#pageFooter {
    height: 3rem;
    background-color: var(--primary);
}